
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;800&display=swap');
:root {
    --main-font: 'Cairo', sans-serif;
}

body {
    font-family: var(--main-font) !important;
    direction: rtl;
    text-align: right;
}

/* لجعل العناوين شبيهة بموقع العربية */
h1, h2, h3, h4, h5, h6, .nav-link {
    font-family: var(--main-font) !important;
    font-weight: 700;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
